﻿@model Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Ajax_Update";
}

<div id="containershow">
    <nav class="my-3">
        <a class="navlink" href="/Teacher/show/@Model.TeacherId">Back To Teacher details</a>
    </nav>
    <h2>Update Teacher with AJAX</h2>

    <div class="form-group">
        <label for="TeacherFname">First Name:</label>
        <input type="text" class="form-control" id="TeacherFname" name="TeacherFname" placeholder="Enter first name" value="@Model.TeacherFname" />
        <span class="error-message text-danger"></span>
    </div>
    <div class="mt-2 form-group">
        <label for="TeacherLname">Last Name:</label>
        <input type="text" class="form-control" id="TeacherLname" name="TeacherLname" placeholder="Enter last name" value="@Model.TeacherLname" />
        <span class="error-message text-danger"></span>
    </div>
    <div class="mt-2 form-group">
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" class="form-control" id="EmployeeNumber" name="EmployeeNumber" placeholder="Enter employee number" value="@Model.EmployeeNumber" />
        <span class="error-message text-danger"></span>
    </div>
    <div class="mt-2 form-group">
        <label for="HireDate">Hire Date:</label>
        <input type="date" class="form-control" id="HireDate" name="HireDate" value="@Model.HireDate.ToString("yyyy-MM-dd")" />
        <span class="error-message text-danger"></span>
    </div>
    <div class="mt-2 form-group">
        <label for="Salary">Salary:</label>
        <input type="number" step=".01" class="form-control" id="Salary" name="Salary" placeholder="Enter salary" value="@Model.Salary" />
        <span class="error-message text-danger"></span>
    </div>
    <button onclick="UpdateTeacher(@Model.TeacherId);" class="mt-2 btn btn-primary">Update Teacher</button>

    <p class="mt-3 text-danger" id="ResponseText"></p>
</div>
