@model Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow" class="container">
    <nav class="my-3">
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2>Teacher Information</h2>

    <div class="mb-3">
        <strong>ID:</strong> @Model.TeacherId
    </div>
    <div class="mb-3">
        <strong>Employee Number:</strong> @Model.EmployeeNumber
    </div>
    <div class="mb-3">
        <strong>Salary:</strong> @Model.Salary
    </div>

    <div class="mb-3">
        <strong>Full Name:</strong> @Model.TeacherFname @Model.TeacherLname
    </div>
    <div class="mb-3">
        <strong>Hire Date:</strong> @Model.HireDate
    </div>
    <div class="mb-3">
        <strong>Classes:</strong>
        @if (Model.Classes != null && Model.Classes.Any())
        {
            foreach (var _class in Model.Classes)
            {
                <div><a href="/Class/Show/@_class.ClassId">@_class.ClassCode</a> : @_class.ClassName</div>
            }
        }
        else
        {
            <div>No classes assigned</div>
        }
    </div>

    <a class="mt-3 btn btn-danger" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete Teacher</a>
    <a class="mt-3 btn btn-danger" href="/Teacher/Ajax_DeleteConfirm/@Model.TeacherId">Delete Teacher with AJAX</a>

</div>
